
header {
    background-color: #4CAF50;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 3.0;
    margin: 0;
    padding: 0;
    background-color: #1f3375;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

article {
    margin-bottom: 30px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #0af00ee2;
    color: #0f063a;
    position: bottom;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 20;
    padding: 13;
}